.mainContent{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:500px;
    font-weight: bold;
    /* display: inline-block; */
    /* border: black solid 1px; */
    /* padding: 100px; */
    }
  
.btn{
    background-color: purple;
    color: white;
}
.navbar.navbar-light.justify-content-between{
    color: black;
    background-color: white;
}
.quizBtn{
    color: white;
    background-color: purple;
    margin: .25rem !important;
}
.answerBar{
    text-align: left;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: 30px;
}
.divEl{
    width: 100%
}

a{
    color: inherit;
}