.mainContent{
    position: fixed;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:500px;
    font-weight: bold;
    border: black solid 1px;
    padding: 100px;
    }
.btn{
    background-color: purple;
    color: white;
}
.navbar.navbar-light.justify-content-between{
    color: black;
    background-color: white;
}
.quizBtn{
    color: white;
    background-color: purple;
    margin: .25rem !important;
}